body {
    background-color: rgb(230,218,166 );
    font-size: 19px;
}

.og {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 550;
}

.q {
    font-weight: 550;
}

.w {
    font-weight: 550;
}
